title
{
  color: dodgerblue;  

}
body{
    background-size: 0rem;
    border: indigo;
    border-right-width: 0vmin;
    background-color: turquoise;
    border: 5px solid black;
  margin: 30px 60px 80px 100px;
  
}
#table
{
    border-color: royalblue;
    background-color: wheat;
    border-spacing: 0px;
    border:3px solid orangered;

    
}
.th
{
    color: tomato;
    text-decoration: yellow;
}